@font-face 
{
    font-family: 'BlazmaRegular';
    src: url('../fonts/Blazma-Regular.otf');
}

@font-face 
{
    font-family: 'Razer';
    src: url('../fonts/dehinted-RazerF5-Regular.ttf');
}

.head
{
    width: 100%;
    margin: 0px;
    padding: 0;
    height: 80px;
    background-color: #040856;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: fixed;
    top: 0;
    z-index: 100;
    box-sizing: border-box;
    padding: 0 20px;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title
{
    font-size: 300%;
    font-family: BlazmaRegular;
    color: #ab058f;
    margin: 0;
    padding: 0;
}

.navigation
{
    display: flex;
}

.nav-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-item
{
    color: white;
    font-size: 23px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    
    font-family: Razer;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

body.main
{
    margin: 0;
    padding: 0;
    background-color: #222222;
    background-image: url("../images/bckgnd.png");
    background-size: 400px 400px;
    padding-top: 100px;
    justify-content: center;
}

.content {
    width: 70%;
    padding: 20px;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.txt
{
    font-family: Razer;
    font-size: 20px;
}

.project-destription-name
{
    font-size: 200%;
    font-family: BlazmaRegular;
    color: #ab058f;
    margin-top: 0;
}

.project-destription-desc
{
    font-family: Razer;
    font-size: 110%;
    margin-bottom: 0;
}

.theme
{
    font-size: 200%;
    font-family: BlazmaRegular;
    color: #ab058f;
    margin: 0;
    padding: 0;
}

.project
{
    width: 80%;
    background-color: #333333;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all 0.3s ease;
}

.project:hover 
{
    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-destription-div
{
    justify-content: center;
    width: 60%;
}

a.plain-link {
    color: inherit;           /* Наследует цвет от родителя */
    text-decoration: none;    /* Убирает подчеркивание */
    cursor: inherit;          /* Курсор как у обычного текста */
}

a.plain-link:hover,
a.plain-link:active,
a.plain-link:visited {
    color: inherit;           /* Сохраняет цвет при любом состоянии */
    text-decoration: none;    /* Убирает подчеркивание при наведении */
}